<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">© Jacob Gerales | All Rights Reserved
        <a class="nav-link" style="text-decoration: underline;" href="/contactMe">Contact Me</a> 
      </span>
    </div>
  </footer>
  