<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" >Jacob Gerales</a>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pictures">Pictures</a>
          </li>
        </ul>
        <div class="d-flex ms-auto">
          <a href="https://github.com/JAGerales" class="github-link" target="_blank" rel="noopener noreferrer">
            <svg class="github-logo" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>GitHub</title>
                <path d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.205 11.385.6.11.82-.26.82-.577 0-.285-.01-1.04-.015-2.04-3.338.727-4.042-1.61-4.042-1.61-.546-1.387-1.334-1.757-1.334-1.757-1.09-.744.083-.728.083-.728 1.203.084 1.835 1.235 1.835 1.235 1.07 1.835 2.807 1.305 3.492.998.108-.775.418-1.305.762-1.605-2.665-.305-5.467-1.335-5.467-5.93 0-1.31.47-2.38 1.235-3.22-.124-.303-.535-1.523.116-3.176 0 0 1.007-.322 3.3 1.23a11.524 11.524 0 013.003-.403c1.018.005 2.045.137 3.003.403 2.29-1.553 3.295-1.23 3.295-1.23.653 1.653.242 2.873.118 3.176.77.84 1.235 1.91 1.235 3.22 0 4.61-2.807 5.625-5.48 5.92.43.37.823 1.102.823 2.22 0 1.603-.015 2.897-.015 3.293 0 .32.215.694.825.575C20.565 21.798 24 17.297 24 12 24 5.37 18.63 0 12 0z"/>
            </svg>
        </a>
        </div>
      </div>
    </div>
  </nav>

