<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h4 class="card-title">Backend Engineering</h4>
        <p class="card-text">Knowledgeable of MVC principles and practices. Hands on experience with database maintenance and middleware development.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h4 class="card-title">Software Development</h4>
        <p class="card-text">Can demonstrate ability to work seamlessly with others to deliver a great product. Has experience applying AGILE / Scrum methodologies across all cycles of software lifetime.</p>
      </div>
    </div>
  </div>
</div>
