<%- include('./partials/header') %>
<body class="wrapper d-flex flex-column min-vh-100">
    <%- include('./partials/navbar') %> 
    <ol class="breadcrumb" style="margin-top: 10px; margin-left: 10px;">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Contact Me</li>
    </ol>
    <%- include('./partials/footer') %> 
</body>
</html>