<%- include('./partials/header') %>
<body class="wrapper d-flex flex-column min-vh-100">
  <%- include('./partials/navbar') %>  
  <div class="container">
    <main class="flex-fill">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-4">
            <img src="/images/profile.jpg" alt="Jacob G" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8">
            <h1>Welcome to My Portfolio!</h1>
            <p>My name is Jacob. I am a self driven and insatiably curious computer scientist that loves listening to music, practicing photography, and powerlifting!
              Here is my proud collection of my technical expertise alongside my personal interests that I would love to share with you.
              Thank you for visiting and enjoy your stay!
            </p>
            <a href="#portfolio" class="btn btn-primary">View My Work</a>
          </div>
        </div>

        <hr>

        <div class="card">
          <div class="card-body">
            <h3>Highlight</h3>
            <h6 class="card-subtitle mb-2 text-muted">Gator Garage</h6>
            <p class="card-text">Lead backend engineer for senior capstone project. Caters to the SFSU campus by providing eccomerce services to students, staff, and faculty.</p>
            <a href="https://gatorgarage.net" target="_blank" class="card-link">View Website</a>
          </div>
        </div>

        <hr>

        <section id="skills">
          <h3>
            <small class="text-body-secondary">Notable</small>
            Skills
          </h3>
          <%- include('./partials/skills') %>
        </section>

        <hr>
        
    </main>
  </div>
  <%- include('./partials/footer') %> 
</body>
</html>